#dv,
#dv1,
#dv2,
#dv3,
p {
  width: 100px;
}
#dv,
#dv1,
#dv2,
#dv3,
p {
  width: 100px;
}
#dv #dv,
#dv #dv1,
#dv #dv2,
#dv #dv3,
#dv p,
#dv1 #dv,
#dv1 #dv1,
#dv1 #dv2,
#dv1 #dv3,
#dv1 p,
#dv2 #dv,
#dv2 #dv1,
#dv2 #dv2,
#dv2 #dv3,
#dv2 p,
#dv3 #dv,
#dv3 #dv1,
#dv3 #dv2,
#dv3 #dv3,
#dv3 p,
p #dv,
p #dv1,
p #dv2,
p #dv3,
p p {
  width: 100px;
}
