/*created by hover_lewis*/
/*2017-06-13 20:00*/
.popup_box{
    height:100%;
}
a.btn_a{
    font-size:.8rem;
    text-align:right;
    display:block;
}
.popup_box span{
    display:inline-block;
    font-size:.7rem;
    padding:3px 30px 3px 20px;
    margin:4px;
    border:1px solid #DDD;
    position:relative;
}
.popup_box span img{
    display:none;
}
.popup_box .on,.popup_box span:hover{
    border:1px solid #4FBBF4;
}
.popup_box .on img{
    display:inline-block;
    width:16px;
    height:16px;
    position:absolute;
    top:5px;
    right:5px;
}
.modal-buttons{
    height:3rem;
    padding:.5rem .75rem .75rem;
}
.button-fill i{
    display:inline-block;
    width:1rem;
    height:1rem;
    background:url(../img/add.png) no-repeat center top/cover;
    vertical-align: middle;
    margin-right:5px;
    margin-top:-2px;
}
.list-block ul ul {
    padding-left: 0;
}
.label i{
    font-style:normal;
    padding-left:5px;
}
.list-block ul{
    position:relative;
}
.list-block .btn_icon,.list-block .btn_box_a{
    position:absolute;
    z-index:99;
    width:2rem;
    height:3.5rem;
    border-left:1px solid #EEE;
    right:0;
    top:-2.5em;
    background:#FFF;
}
.btn_box a{
    display:block;
    width:1rem;
    height:1rem;
    background:url(../img/add_1.png) no-repeat center top/cover;
    margin: 1.2rem auto;
}
.list-block .other_sle{
    position:relative;
}
.list-block .btn_add_a{
    margin:0.2rem auto;
}
a.btn_delete{
    background:url(../img/delete_1.png) no-repeat center top/cover
}
a.btn_delete:focus,a.btn_delete:hover,a.btn_delete:active{
    background:url(../img/delete_2.png) no-repeat center top/cover
}