.style {
  width: 100px;
  height: 100px;
  margin: 10px;
}
#dv {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 10px;
}
#dv1 {
  background: blue;
  width: 100px;
  height: 100px;
  margin: 10px;
}
