#dv {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #b8adeb;
}
#dv1 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #2e6b4d;
}
#dv2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #738c9c;
}
