body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1881px;
  height:3214px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1881px;
  height:3214px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1599px;
  width:1877px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1881px;
  height:3214px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1881px;
  height:3214px;
  opacity:0.6;
}
#u3 {
  position:absolute;
  left:2px;
  top:1599px;
  width:1877px;
  visibility:hidden;
  white-space:nowrap;
}
#u4 {
  position:fixed;
  left:50%;
  margin-left:-429.5px;
  top:50%;
  margin-top:-337px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:674px;
}
#u7 {
  position:absolute;
  left:1px;
  top:0px;
  width:858px;
  height:674px;
}
#u8 {
  position:absolute;
  left:2px;
  top:329px;
  width:854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:52px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:52px;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:200px;
  background:inherit;
  background-color:rgba(225, 227, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:52px;
  width:859px;
  height:200px;
}
#u12 {
  position:absolute;
  left:2px;
  top:92px;
  width:855px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DEDFE1;
}
#u13 {
  position:absolute;
  left:65px;
  top:15px;
  width:87px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#DEDFE1;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u15 {
  position:absolute;
  left:293px;
  top:85px;
  width:252px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:70px;
}
#u18 {
  position:absolute;
  left:282px;
  top:570px;
  width:275px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:395px;
  top:587px;
  width:50px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:283px;
  top:571px;
  width:273px;
  height:67px;
}
#u24 {
  position:absolute;
  left:2px;
  top:26px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u25 {
  position:absolute;
  left:395px;
  top:586px;
  width:50px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:23px;
  top:11px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u29 {
  position:absolute;
  left:137px;
  top:157px;
  width:563px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u31 {
  position:absolute;
  left:175px;
  top:304px;
  width:42px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6666;
}
#u33 {
  position:absolute;
  left:248px;
  top:308px;
  width:298px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6666;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u35 {
  position:absolute;
  left:248px;
  top:340px;
  width:348px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u37 {
  position:absolute;
  left:248px;
  top:372px;
  width:286px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u39 {
  position:absolute;
  left:248px;
  top:404px;
  width:304px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u41 {
  position:absolute;
  left:248px;
  top:436px;
  width:323px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u43 {
  position:absolute;
  left:248px;
  top:466px;
  width:224px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u45 {
  position:absolute;
  left:248px;
  top:499px;
  width:321px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u47 {
  position:absolute;
  left:248px;
  top:532px;
  width:383px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u49 {
  position:absolute;
  left:180px;
  top:344px;
  width:32px;
  height:22px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u51 {
  position:absolute;
  left:180px;
  top:373px;
  width:39px;
  height:21px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u53 {
  position:absolute;
  left:187px;
  top:404px;
  width:26px;
  height:19px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u55 {
  position:absolute;
  left:182px;
  top:440px;
  width:40px;
  height:14px;
}
#u56 {
  position:absolute;
  left:2px;
  top:-1px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u57 {
  position:absolute;
  left:190px;
  top:468px;
  width:21px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u59 {
  position:absolute;
  left:190px;
  top:498px;
  width:24px;
  height:24px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u61 {
  position:absolute;
  left:194px;
  top:532px;
  width:20px;
  height:19px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u63 {
  position:absolute;
  left:817px;
  top:15px;
  width:22px;
  height:22px;
  color:#78A7D0;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
