#dv {
  width: 200px;
  height: 200px;
  background-color: #2DE6FF;
}
#dv1 {
  width: 150px;
  height: 150px;
  background-color: deeppink;
}
p {
  width: 200px;
  height: 50px;
  background-color: blueviolet;
}
