.a {
  width: 100px;
}
.a .b {
  height: 100px;
}
.a .b .c {
  background-color: red;
}
#dv {
  width: 100px;
  height: 100px;
  background-color: red;
}
#dv .b {
  height: 100px;
}
#dv .b .c {
  background-color: red;
}
#dv .c {
  background-color: red;
}
